.input-card {
    max-width: 850px;
    margin: 40px auto;
    background: white;
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.08);
}

.input-card h2 {
    color: #111827;
    margin-bottom: 20px;
}

.input-card textarea {
    width: 100%;
    min-height: 180px;
    resize: none;

    padding: 18px;
    background: #FAFBFF;

    border: 1px solid #d1d5db;
    border-radius: 12px;

    font-size: 16px;

    outline: none;

    transition: 0.3s;
}

.input-card textarea:focus {
    border-color: #4F46E5;
    box-shadow: 0 0 8px rgba(79,70,229,.2);
}

.difficulty-section {
    margin-top: 25px;
}

.difficulty-section p {
    margin-bottom: 12px;
    font-weight: 600;
}

.difficulty-buttons {
    display: flex;
    gap: 15px;
}

.difficulty {
    padding: 10px 24px;
    border-radius: 30px;
    border: 1px solid #d1d5db;
    background: white;
    cursor: pointer;
}

.active {
    background: #4F46E5;
    color: white;
    border: none;
}

.generate-btn {
    width: 100%;
    margin-top: 35px;

    padding: 18px;

    border: none;

    border-radius: 14px;

    background: linear-gradient(
        90deg,
        #4F46E5,
        #6366F1
    );

    color: white;

    font-size: 18px;

    font-weight: 600;

    cursor: pointer;

    transition: all 0.3s ease;
}

.generate-btn:hover {
    background: linear-gradient(
        90deg,
        #4338CA,
        #5B5FEF
    );

    transform: translateY(-3px);

    box-shadow: 0 10px 25px rgba(79, 70, 229, 0.35);
}